<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item" *ngIf="utente">
                    <a class="nav-link" [routerLink]="['/utenti']" routerLinkActive="active">Utenti</a>
                </li>
                <li class="nav-item" *ngIf="!utente">
                    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Accedi</a>
                </li>
                <li class="nav-item" *ngIf="!utente">
                    <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Registrati</a>
                </li>
            </ul>
            <div class="text-end">
                <h6 *ngIf="utente" class="me-3">
                    Benvenuto {{utente.user.nome}}
                </h6>
                <button type="button" id="logout" name="logout" class="btn btn-danger" *ngIf="utente" (click)="logout()">ESCI</button>
            </div>
        </div>
    </div>
</nav>
