<div class="container">
    <h1 class="text-center">Inserisci nuovo utente</h1>
    <form #modulo="ngForm" (ngSubmit)="aggiungiUtente(modulo)">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" required ngModel>
        </div>
        <div class="form-group">
            <label for="cognome">Cognome</label>
            <input type="text" name="cognome" id="cognome" class="form-control" required ngModel>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" required ngModel>
        </div>
        <div class="form-group">
            <label for="corsi">Nm. corsi frequentati</label>
            <input type="number" name="corsi" id="corsi" class="form-control" required ngModel>
        </div>
        <button type="submit" class="btn btn-success mt-3"[disabled]="modulo.invalid">Inserisci</button>
    </form>
</div>
